<!DOCTYPE html>
<html>
<head>
    <title>VC News Aggregator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>VC News Aggregator</h1>

        <div class="article-grid">
            {% for article in articles %}
                <article class="article-card">
                    <p class="source">{{ article.source }}</p>

                    <h2>{{ article.title }}</h2>

                    <p class="date">
                        {{ article.published_at }}
                    </p>

                    <a href="{{ article.url }}" target="_blank">
                        Read article
                    </a>
                </article>
            {% endfor %}
        </div>
    </div>

</body>
</html>